* {
    margin: 0;
}

header {
    font-family: "Special Elite", cursive;
    font-size: 22px;
    background: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
}

.menu-logo {
    width: 100px;
    padding: 0.3em;
}

.menu-logo img {
    width: 100px;
}

.menu-pages {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.btn {
    display: flex;
    justify-content: space-between;
    padding: 0.7em;
    margin: 0.3em;
    color: cornsilk;
    background-color: #960101;
    border-radius: 2em;
    text-decoration: none;
}

.btn:hover {
    background-color: #d30000;
}

main {
    background: #6f0000; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to bottom,
        #0a000a,
        #6f0000
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to bottom,
        #000000,
        #6f0000
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-family: "Special Elite", cursive;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

.content-img-prin {
    display: flex;
}

.content-img-prin img {
    width: 250px;
}

.content-txt {
    display: flex;
    flex-direction: column;
    width: 60%;
    font-size: 20px;
    padding: 20px;
    margin: 2em;
    color: cornsilk;
}

.title {
    width: 200px;
    height: 2em;
    display: flex;
    position: absolute;
    justify-content: center;
    padding: 0.5em;
    border-radius: 20px;
    background-color: #cfa0a0c0;
}

.principalTxt {
    display: flex;
    align-items: center;
    font-size: x-large;
    padding: 1em;
    margin: 2em 1em;
    background-color: #e5e5e536;
    border-radius: 20px;
}

.footer {
    background: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: cornsilk;
    padding: 1em 2em;
}
